h1 {
  /* text-decoration-line: line-through;
  text-decoration-style: dotted;
  text-decoration-color: red;
  text-decoration-thickness: 10px; */
  /* text-decoration: 10px red dotted underline; */

  /* border-top-style: dashed;
  border-right-style: double;
  border-bottom-style: dotted;
  border-left-style: solid; */

  /* border-style: dashed double dotted solid; */

  /* border-top-color: red;
  border-right-color: orange;
  border-bottom-color: green;
  border-left-color: blue; */

  /* border-color: red orange green blue; */

  /* border-top-width: 10px;
  border-right-width: 5px;
  border-bottom-width: 15px;
  border-left-width: 20px; */

  /* border-width: 10px 5px 15px 20px; */

  /* border-style: dashed;
  border-color: red;
  border-width: 10px; */

  border: 10px dashed red;
}
