@use "variables/colors" as colors;
@use "variables/spacings" as s;
@use "mixins/responsive";

.container {
  background-color: colors.$color-blueviolet;
  color: colors.$color-white;
  font-size: 30px;
  padding: s.$spacing-large;
  margin-bottom: s.$spacing-large;
  width: 70%;

  @include responsive.lg {
    width: 100%;
    padding: 0;
  }

  @include responsive.md {
    background-color: colors.$color-green;
    font-size: 16px;
  }

  @include responsive.sm {
    background-color: colors.$color-pink;
    color: colors.$color-black;
  }

  section {
    background-color: colors.$color-gray-light;
    padding: s.$spacing-medium;
    margin-bottom: s.$spacing-medium;

    h2 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }

    .section-content {
      margin-top: s.$spacing-small;

      ul {
        margin: 0;
        padding-left: s.$spacing-small;

        li {
          margin-bottom: s.$spacing-small;

          @include responsive.md {
            margin-bottom: s.$spacing-tiny;
          }

          @include responsive.sm {
            margin-bottom: s.$spacing-xxs;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
